<div class="container-fluid">
	<h1 class="musings-title"><span>{{ page.title }} —</span></h1>
	<div class="row align-items-end justify-content-end rowcontent">
		<div class="col-lg-6">
			{{ page.content }}
		</div>
	</div>
</div>

