<div class="container-fluid">
	<h1 class="musings-title">{{ page.title }} <span>— {{ page.metafields.scb.single_musing_title_2 }}</span></h1>
</div>

<div class="flexible-content">
{% for block in page.metafields.scb.single_musing_content %}
  {% assign data = block.value %}
	{% assign section_name = 'scb-' | append: block.type %}
	{% include section_name with data %}
{% endfor %}
</div>