<div class="container">
	<div class="row">
		<div class="col-12">
			<img style="display: block;" src="{% include 'img_url' with url: data.single_musing_full_img_obj[0].url, params: '1200x' %}" class="w-100" />
		</div>
	</div>
</div>