<!-- Footer -->
<footer id="footer">

  <!-- Module - Copyright -->
  <div class="module module-copyright">© VINGT QUATRE 2020</div>

  <!-- Module - Navigation -->
  <nav class="module module-navigation">
    <ul class="nav nav-footer">
      <li><a href="#">Contact</a></li>
      <li><a href="#">Customer Care</a></li>
      <li><a href="#">Legal</a></li>
    </ul>
  </nav>

  <!-- Module - Newsletter -->
  <div class="module module-newsletter">
    <form action="#">
      <input type="email" class="form-control form-control-sm" placeholder="Enter Email Address">
      <button class="btn btn-link btn-sm">Subscribe</button>
    </form>
  </div>

  <!-- Module - Social -->
  <div class="module module-social">
    <ul class="social-media">
      <li><a href="#"><i class="i i-pinterest"></i></a></li>
      <li><a href="#"><i class="i i-instagram"></i></a></li>
      <li><a href="#"><i class="i i-facebook"></i></a></li>
    </ul>
  </div>

</footer>
<!-- Footer / End -->



{% schema %}
  {
    "name": "Footer",
    "settings": [

    ]
  }

{% endschema %}
