$gutter-heading: 15px;
$color-drawers: #fbf9ef;
$font-size-header: 16px;
$gutter-site: 30px; 

/*============================================================================
  Drawer skeleton
==============================================================================*/
.is-transitioning {
  display: block !important;
  visibility: visible !important;
}

.js-drawer-open {
  overflow: hidden;
}

.drawer {
  display: block;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  right: 0;
  -webkit-overflow-scrolling: touch;
  bottom: 0;
  z-index: $z-index-drawer;
  color: $color-drawers-text;
  background-color: $color-drawers;
  transition: $drawer-transition;
}

.drawer--left,
.drawer--right {
  top: 0;
  max-width: 95%;
}

.drawer--left {
  width: $drawer-nav-width;
  left: -$drawer-nav-width;

  .js-drawer-open-left & {
    display: block;
    @include transform(translateX($drawer-nav-width));
  }
}

.drawer--right {
  width: $drawer-cart-width;
  right: -$drawer-cart-width;

  .js-drawer-open-right & {
    display: block;
    @include transform(translateX(-$drawer-cart-width));
  }

  .drawer__close {
    float: right;
    height: $drawer-header-height;
  }
}

.drawer--top {
  width: 100%;
  height: $height-site-header;
  top: -$height-site-header;

  .js-drawer-open-top & {
    display: block;
    @include transform(translateY(100%));
  }
}

#PageContainer {
  overflow: hidden;
}

.drawer-page-content:after {
  visibility: hidden;
  opacity: 0;
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: $z-index-drawer - 1;
  transition: $drawer-transition;

  .js-drawer-open & {
    visibility: visible;
    opacity: 1;
  }
}

.drawer__title,
.drawer__close {
  display: table-cell;
  vertical-align: middle;
}

.drawer__title {
  font-size: rem(19px);
  width: 100%;
}

.drawer__close-button {
  background: none;
  border: 0 none;
  position: relative;
  right: -15px;
  height: 100%;
  width: 60px;
  padding: 0 20px;
  color: inherit;
  font-size: em(18);

  .drawer--left & {
    right: auto;
    left: -15px;
  }

  .drawer--product & {
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    z-index: $z-index-dropdown;
  }

  &:active,
  &:focus {

  }
}

/*================ Drawer loader ================*/
.supports-csstransforms .drawer--is-loading .drawer__cart {
  min-height: 100px;

  &:after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 50%;
    top: 30 * 2;
    margin-left: -12px;
    border-radius: 50%;
    border: 3px solid $color-drawers-border;
    border-top-color: transparent;
    @include animation(spin 1s infinite linear);
  }
}

/*============================================================================
  Theme-specific drawer styles
==============================================================================*/
.drawer {
  input[type="text"],
  textarea {
    background-color: $color-drawer-inputs;
    color: $color-drawer-input-text;
  }

  a {
    color: $color-drawers-text;

    &:hover,
    &:focus {

    }
  }
}

.js-drawer-close {
	color: transparent;
	height: 30px;
	&:before, &:after {
	  position: absolute;
	  right: 30px;
	  top: 0;
	  content: ' ';
	  height: 33px;
	  width: 1px;
	  background-color: #333;
	}
	&:before {
	  transform: rotate(45deg);
	}
	&:after {
	  transform: rotate(-45deg);
	}
}
	
.drawer__header {
  top: 0;
  width: 100%;
  padding: 2em rem(85px);
  text-transform: uppercase;
  font-size: rem(16px);
  line-height: rem(20px);
  letter-spacing: rem(1.28px);
}
.drawer__footer {
 padding: 0 rem(85px) 2em rem(85px);
 font-size: rem(16px);
 .btn {
	 font-size: rem(15px);
 }
}
.drawer__inner {
  bottom: 0;
  left: 0;
  right: 0;
padding: 0 rem(85px) 0 rem(85px);
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  @include media-query($large-up) {
    padding-left: $gutter-site;
    padding-right: $gutter-site;
  }

  .drawer--has-fixed-footer & {
    overflow: hidden;
  }

  .drawer--product & {
    top: 0;
  }
  .meta {
	  padding: 0 15px;
	  h3 {
		  line-height: normal;
	  	font-size: rem(16px);
	  	font-family: $font-primary;
	  	text-transform: none;
	  }
	  ul {
		  list-style-type: none;
		  padding: 0;
		  li {
			  font-size: rem(16px);
		  }
	  }
  }
  .price {
	  padding-left: 15px;
	  font-size: rem(16px);
	  line-height: normal;
	  margin-left: auto;
  }
  .item {
  	position: relative;
  }
  .cart__remove {
	  position: absolute;
	  right: 0;
	  bottom: 0;
	  padding: 0;
	  text-transform: none;
	  text-decoration: underline;
  }
}


/*================ Drawer Fixed Cart Footer ================*/
.ajaxcart__inner {
  margin-bottom: $gutter-site;
}

.ajaxcart__inner--has-fixed-footer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0 ($gutter-site / 2);
  bottom: $drawer-cart-footer-height; // overwritten with JS
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @include media-query($large-up) {
    padding: 0 $gutter-site;
  }
}

.ajaxcart__footer {
  padding-top: $gutter-site;
}

.ajaxcart__footer--fixed {
  position: absolute;
  bottom: 0;
  left: $gutter-site / 2;
  right: $gutter-site / 2;
  min-height: $drawer-cart-footer-height; // overwritten by JS
  padding-bottom: $gutter-site;

  @include media-query($small) {
    padding-bottom: $gutter-site /2;
  }

  @include media-query($large-up) {
    left: $gutter-site;
    right: $gutter-site;
  }
}

/*================ Drawer rows and products ================*/
.ajaxcart__row {
  position: relative;
  max-height: 500px;

  &.is-removed {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transition: all 450ms cubic-bezier(0.57,.06,.05,.95);
    @include backface(hidden);
  }
}

.ajaxcart__product {
  padding-bottom: $gutter-site / 2;
  margin-bottom: $gutter-site / 2;

  @include media-query($medium-up) {
    padding-bottom: $gutter-site;
    margin-bottom: $gutter-site;
  }
}

.ajaxcart__product-image {
  display: block;
  overflow: hidden;

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

.ajaxcart__product-name,
.ajaxcart__product-meta {
  display: block;
}

.ajaxcart__product-meta,
.ajaxcart__price {
  font-size: em(14px);
}

.ajaxcart__product-name-wrapper,
.ajaxcart__product-name {
  margin-bottom: $gutter-site / 4;
}

.ajaxcart__product-name-wrapper {
  padding-left: $gutter-site / 2;
}

.ajaxcart__subtotal {
  margin-bottom: $gutter-site;
}

.ajaxcart__subtotal-title {
  margin-bottom: 0;
  color: $color-drawers-text;
}
/*================ Cart discounts ================*/
.cart-item__original-price,
.cart-item__discount {
  margin-bottom: 0!important;
}

.ajaxcart-item__price-strikethrough {
  float: right;
}

.ajaxcart__savings {
  margin-top: $gutter-heading / 2;
}
/*================ Drawer Nav ================*/

.drawer-nav {
  padding: 0;
  // Negative of .drawer left/right padding for full-width link tap area
  margin: (-$gutter-site / 2) (-$gutter-site / 2) 0;

  @include media-query($large-up) {
    margin-left: -$gutter-site;
    margin-right: -$gutter-site;
  }

  li {
    margin-bottom: 0;
    list-style: none;
  }
}

.drawer-nav__search {
  padding: $gutter-site / 2;
}

.drawer-nav__item {
  display: block;
}

.social-icons--drawer {
  a {
    color: $color-drawers-text;
  }

  @include media-query($small) {
    margin-left: $gutter-site / 2;
  }
}

// Login/logout links can't have a class on them so style all nav <a> elements
.drawer-nav__item a,
.drawer-nav__toggle button {
  color: $color-drawers-text;
  padding: ($gutter-site / 1.5) ($gutter-site / 2);
  text-decoration: none;

  &:active {
    color: darken($color-drawers-text, 15%);
    background-color: darken($color-drawers, 5%);
  }
}

.drawer-nav__item a {
  display: block;
  padding-left: $gutter-site;
  font-size: em(floor($font-size-header * 0.83)); // 20px
}

.drawer-nav__link {
  margin-bottom: 0;
}

.drawer-nav__toggle-button {
  background: none;
  border: none;
  margin-right: 15px;
}

.drawer-nav__item--secondary {
  a {
    color: $color-drawers-text;
    font-size: $font-size-base;
    line-height: 1.2;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.drawer-nav__spacer {
  height: $gutter-site;
}

.drawer-nav__has-sublist {
  display: table;
  width: 100%;

  .drawer-nav__link {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
}

.drawer-nav__toggle {
  display: table-cell;
  vertical-align: middle;
  width: 1%;
}

.drawer-nav__toggle-open {
  display: block;

  .drawer-nav--expanded & {
    display: none;
  }
}

.drawer-nav__toggle-close {
  display: none;
  visibility: hidden;

  .drawer-nav--expanded & {
    display: block;
    visibility: visible;
  }
}

.drawer-nav__sublist {
  margin: 0;
  padding: 0;
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95);

  .drawer-nav--expanded + & {
    visibility: visible;
    max-height: 1000px;
    margin-bottom: $gutter-site;
    transition: all 600ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
  }

  .drawer-nav__link {
    color: $color-drawers-text;
    font-size: $font-size-base;
    padding: ($gutter-site / 2.5) ($gutter-site / 2) ($gutter-site / 2.5) ($gutter-site * 2);
    font-weight: $font-weight-normal;
  }
}
